.wrapper {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}
.content {
  width: 400px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  background-color: white;
  flex-shrink: 0;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.letotnghiepForm label {
  font-weight: bold;
  display: block;
}
.letotnghiepForm input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 15px;
}
.content h1 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.letotnghiepForm button {
  width: 60%;
  background-color: #1e3a8a;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20%;
  margin-top: 10px;
}
.letotnghiepForm button:hover {
  transition: 0.3s;
  background-color: #294eb3;
  color: white;
  cursor: pointer;
}
.preview-container {
  margin-top: 10px;
  text-align: center;
}

.preview-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.background-container {
  flex-direction: row;
  gap: 5px;
  margin-left: 20px;
  align-items: flex-end;
  }
  
.background-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.background-wrapper {
  position: relative;
  width: 970px;
  height: 525px;
  background-color: #d1d5db;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.xemanh, .taianh {
  width: 100px;
  padding: 3px;
  color: white;
  background-color: #1e3a8a;
  border-radius: 2;
  border-radius: 5px;
  font-size: 15px;
  align-self: flex-end;
}
.xemanh:hover {
  transition: 0.3s;
  background-color: #294eb3;
  color: white;
  cursor: pointer;
}
.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;  
  gap: 10px;              
}

.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: auto;
}

.image-overlay.hidden {
  display: none;
}

.full-backdrop {
  transform: scale(1.2);
  transform-origin: center center;
  display: inline-block;
}
